#workitems {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
}

.headergrid {
    display: grid;
    grid-template-columns: 7fr 1fr;
}

#section-container-skills {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
}