body {
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
    background-color: #B2DDF7;
    margin: 10%;
}

main {
    padding: 10px;
    font-size: 24px;
}

header, footer {
    padding: 10px;
}

nav { 
    float: right;
    overflow: hidden;
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: black;
}

li {
    display: inline;
    padding: 10px;
}

li a:hover {
    color: #6ABEF3;
}

#section-container {
    background-color: #fff;
    border-radius: 25px;
    padding: 10px;
}

#work img {
    width: 600px;
}

#profile {
    width: 200px;
    height: 200px;
}

h1 {
    font-size: 64px;
}