@font-face {
    font-family: Farmhouse;
    src: url("font/Farmhouse.otf") format("opentype");
}

body {
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
    background-color: #F6F2F8;
}

main {
    font-size: 24px;
    padding: 5%;
}

header, footer {
    height: 50px;
    padding: 10px;
}

nav { 
    float: right;
    overflow: hidden;
}

nav a {
    text-decoration: none;
    color: black;
}

li {
    display: inline;
    padding: 10px;
}

li a:hover {
    background-image: linear-gradient(to bottom right, #CDB4DB, #FFAFCC);
    padding: 10px;
    border-radius: 2%;
}

#work img {
    width: 100%;
}

#profile {
    width: 200px;
    height: 200px;
}

h1 {
    font-size: 96px;
    font-family: 'Farmhouse';
}

h2 {
    font-size: 36px;
    font-family: 'Farmhouse';
    color: #AC83C3;
}

#skill {
    text-align: center;
    background-color: #DBC8E4;
    border-radius: 25px;
}