body {
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
}

main {
    font-size: 24px;
}

header, footer {
    height: 50px;
    padding: 10px;
    background-color: #CDB4DB;
}

nav { 
    float: right;
    overflow: hidden;
    background-color: #CDB4DB;
}

nav a {
    text-decoration: none;
    color: black;
}

li {
    display: inline;
    padding: 10px;
}

li a:hover {
    color: #6ABEF3;
}

#work img {
    width: 100%;
}

#profile {
    width: 200px;
    height: 200px;
}

h1 {
    font-size: 64px;
}

#skill {
    text-align: center;
}

#about {
    background-color: #FFAFCC;
}